html{
    background-color: rgba(6, 16, 104, 0.856);
    width: 100%;
}

.container{
    width: 100vw;
    height: 40vh;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    place-content: center;
    align-items: center;
}

.row{
    width: 60%;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.container-info{
    width: 90%;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    place-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
}

h2{
    color:white;
    margin-bottom: 2%;
    margin: 1.5%;
    text-align: center;
    font-style: arial;
    font-family: sans-serif;
    font-size: x-large;
}

h2:hover{
    color: rgb(82, 81, 81);
}

h5{
    color: white;
    margin-bottom: 1.5%;
    margin: 10px;
    text-align: center;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
}

p{
    color:white;
    margin: 20px;
    font-weight: bolder;
    font-family:Arial, Helvetica, sans-serif;
    font-size: smaller;
}

.inferior{
    background-color: rgb(14, 19, 66);
    margin:0 auto;
    width: 60%;
    place-content: center;
    align-items: center;
    box-sizing: border-box;
    display: flex
}

.col-60{
    width: 100%;
    padding: 60px;
    height: 16vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.col-60 h1{
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: white;
    text-align: center;
}

.col-60 h3{
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    color:  rgba(42, 185, 138, 0.993);
    text-align: center;
}

.col-60 h4{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 1rem;
    color: white;
    text-align: center;
    box-sizing: border-box;
}

.col-60 button{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgba(113, 191, 243, 0.993) ;
    border-radius: 5PX;
    padding: 10px 60px;
    border: none;
    font-weight: 800;
    margin: 0 auto;
}

.col-60 button:hover{
    color:rgb(86, 86, 153);
    background-color:white ;
    cursor: pointer;
    margin: 0 auto;
}